@model ACB.Models.ContractorVM

@{
    ViewData["Title"] = "displayquote";

    var services = Model.Services;
    var images = Model.Quote.Images;
}

<div class="row d-flex justify-content-center">
    <div class="col-10 col-lg-6  alpha-form center mt-4">
            <form class="align-items-center justify-content-center">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="form-group col-6">
                        @Model.Quote.Id
                    </div>

                    <div class="form-group col-6">
                        @Model.Quote.Firstname
                    </div>

                    <div class="form-group col-6">
                        @Model.Quote.Lastname
                    </div>
                </div>

                @foreach(var image in @images)
                {
                    <div >
                        <a href="#" class="pop">
                            <img id="imageresource" class="q-img" src="data:image;base64,@System.Convert.ToBase64String(image)" onclick="enlarge(this);" />
                        </a>
                    </div>              
                }
                <button class="btn arrow-btn left-arrow" onclick="return scrollright()">
                    <p>&#x2190;</p>
                </button>

                <button class="btn arrow-btn right-arrow" onclick="return scrollleft()">
                    <p>&#x2192;</p>
                </button>              
            </form>
    </div>
    <script>
        
        const imgs = document.querySelectorAll(".q-img");
        const arrowBtns = document.querySelectorAll(".arrow-btn");

        let activeImg = 0;
        

        console.log(arrowBtns);
        console.log(imgs);

        function activeImages() {
            imgs.forEach((img) => {
                img.classList.add("in-vis");
            });

            imgs[activeImg].classList.remove("in-vis");
        }

        activeImages();

        function scrollright(){
            
            activeImg++;
            if (activeImg > imgs.length - 1) {
                activeImg = 0;
            }

            activeImages();
            
            return false;
            
        }

        function scrollleft(){
            
            activeImg--;
            if (activeImg < 0) {
                activeImg = imgs.length - 1;
            }

            activeImages();
            
            return false;

        }


        

    </script>
</div>


       