@model ACB.Models.ContractorVM

@{
   // var services = new List<int>;
}

<style>
    .center {
        text-align: center;
    }
</style>

<h1 class="center">Profile Settings</h1>

<form asp-controller="Dashboard" asp-action="UpdateServices">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="form-group col-6">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-6">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-6">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group col-6">
            <label asp-for="Company" class="control-label"></label>
            <input asp-for="Company" class="form-control" />
            <span asp-validation-for="Company" class="text-danger"></span>
        </div>

    </div>
    
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CurrentPassword" class="control-label"></label>
        <input asp-for="CurrentPassword" class="form-control" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label"></label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmNewPassword" class="control-label"></label>
        <input asp-for="ConfirmNewPassword" class="form-control" />
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>
    <br>
    

    
    <div class="form-group">
        <button type="submit" value="Submit" onclick="updateServices()" class="btn btn-primary">Save Changes</button>
    </div>
</form>
<h3>Services Offered:</h3>
<table class="container d-flex d-inline-flex">
    @foreach (var service in ViewBag.Services)
    {
        var chk = service.IsOffered;
        <div class="col-6 col-md-4 d-inline-flex">
            <input type="checkbox" value="@service.Id" checked="@chk" class="mx-1 serv" />
            <label>@service.Name</label>
        </div>
    }
    <button onclick="return updateServices()">
        Update
    </button>
</table>
<br></br>

@section scripts{

    <script>

        function updateServices() {

            var serv = document.getElementsByClassName('serv');

            var servicesArr = [];

            console.log(serv);

            for (let i = 0; i < serv.length; i++) {
                if (serv[i].checked) {

                    var type = serv[i].value;
                    servicesArr.push(type);

                }

            }

            console.log(servicesArr);


            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateServices")",
                traditional: true,
                dataType: "json",
                data: { u_serv: servicesArr },
                success: function (result) {
                    console.log(result);
                    alert("Your service offerings have been updated.");
                },
                error: function (req, status, err) {
                    console.log(status);
                }


            });

            alert("Success! Your service offerings have been updated.");
            
            return flase;

        }



    </script>



}



        