@model ACB.Models.ContractorVM

<style>
    .center {
        text-align: center;
    }
</style>
<div id="settings-form">

    <h1 class="center mb-3">Profile Settings</h1>

    <h4 class="text-center mt-2">Personal Info:</h4>

    <div class="px-5">

        <form asp-controller="Dashboard" asp-action="UpdateServices">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Company" class="control-label"></label>
                    <input asp-for="Company" class="form-control" />
                    <span asp-validation-for="Company" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-5">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group col-2">
                    <label asp-for="State" class="control-label"></label>
                    <input asp-for="State" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="form-group col-2">
                    <label asp-for="Zip" class="control-label"></label>
                    <input asp-for="Zip" class="form-control" />
                    <span asp-validation-for="Zip" class="text-danger"></span>
                </div>
            </div>

            <br>

            <div class="form-group">
                <button type="submit" value="Submit" onclick="updateServices()" class="btn btn-primary">Save Changes</button>
            </div>
        </form>

        <h4 class="text-center mt-4">Services Offered:</h4>
        <table class="container d-flex d-inline-flex">
            @foreach (var service in ViewBag.Services)
            {
                var chk = service.IsOffered;
                <div class="col-6 col-md-4 d-inline-flex">
                    <input type="checkbox" value="@service.Id" checked="@chk" class="mx-1 serv" />
                    <label>@service.Name</label>
                </div>
            }
        </table>
        <button class="btn btn-primary" onclick="return updateServices()">
            Update
        </button>
        <br></br>

    </div>

</div>



@section scripts{

    <script>
        function updateServices() {

            var serv = document.getElementsByClassName('serv');

            var servicesArr = [];

            console.log(serv);

            for (let i = 0; i < serv.length; i++) {
                if (serv[i].checked) {

                    var type = serv[i].value;
                    servicesArr.push(type);
                }
            }

            console.log(servicesArr);

            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateServices")",
                traditional: true,
                dataType: "json",
                data: { u_serv: servicesArr },
                success: function (result) {
                    console.log(result);
                    alert("Your service offerings have been updated.");
                },
                error: function (req, status, err) {
                    console.log(status);
                }
            });
            alert("Success! Your service offerings have been updated.");
            
            return flase;
        }
    </script>       
    }