@model ACB.Models.ContractorVM


<table class="container d-flex d-inline-flex">
	@foreach(var service in ViewBag.Services)
	{
		var chk = service.IsOffered;
		<div class="col-3 col-sm-6 d-inline-flex">
			<input type="checkbox" value="@service" checked="@chk" />
			<label>@service.Name</label>

		</div>
		
	}
</table>