################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ACB/.vs/ACB/FileContentIndex/c21286b6-ed7d-4473-a411-53e811953353.vsidx
/ACB/.vs/ACB/FileContentIndex/739f6af1-be81-43e8-a396-501e205faf54.vsidx
