################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ACB/.vs/ACB/FileContentIndex/c21286b6-ed7d-4473-a411-53e811953353.vsidx
/ACB/.vs/ACB/FileContentIndex/739f6af1-be81-43e8-a396-501e205faf54.vsidx
/ACB/.vs/ACB/FileContentIndex/8f20aa4d-50c6-4ad9-8a27-38269e303056.vsidx
/ACB/.vs/ACB/FileContentIndex/d4953d98-2545-4e10-8a1a-44d2d0581ce5.vsidx
