################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ACB/.vs/ACB/FileContentIndex/77310222-fb9e-4a21-b4c9-fdb09e53cfc9.vsidx
/ACB/.vs/ACB/FileContentIndex/e70aa640-2160-4b2d-9eb1-f2c259cb8bbf.vsidx
