html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.alpha-form {

    background-color: #04364A;
    border-radius: 20px;
    padding: 30px;
    color: white;
    font-weight: 500;
}

.form-btn {
    width: 100%;
}

#nav-custom {
    background-color: #04364A;
    /*display: none;*/
}

.cu-bg {
    background-image: url("../resources/images/CUPicture.jpg");
    /* background-color: #A7D7C5;*/
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-facebook {
    background-color: #3b5998; /* Facebook color */
}

.btn-google {
    background-color: #db4437; /* Google color */
}

.btn-microsoft {
    background-color: #00a1f1; /* Microsoft color */
}
