html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.alpha-form {

    background-color: #04364A;
    border-radius: 20px;
    padding: 30px;
    color: white;
    font-weight: 500;
}

.form-btn {
    width: 100%;
}

#nav-custom {
    background-color: #04364A;
    /*display: none;*/
}

.cu-bg {
    background-image: url("../resources/images/CUPicture.jpg");
    /* background-color: #A7D7C5;*/
    width: 100wh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loc-bg {
    background-image: url("../resources/images/BlueUS.jpg");
    /* background-color: #A7D7C5;*/
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loc-form {
    background-color: #04364A;
    width: 45vw;
    border-radius: 40px;
    padding: 30px;
    color: white;
    font-weight: 500;
}

.geo-box {
    /*width: 45vw;*/
    background-color: cadetblue;
    border-radius: 15px;
    border-color: #04364A;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    border: 2px solid #04364A;
}

#review-box {
    /*position: relative;*/
    /*padding: 0 15px;*/
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 93vw;
   /* margin: 0 15px;*/
    margin-left: -50px;
   /* margin-right: 30px;*/
    border-radius: 20px;
    color: white;
    /*display: flex;*/
    /*justify-content: center;*/
    border: 2px solid #04364A;
    /*padding-bottom: 50px;*/
}

.contractor-tile{
    background-color: white;
    border-radius: 15px;
   
    /*width: 96%;*/
    color: black;
    font-size: 2rem;
    font-weight: 600;
}

.tile-detail {
    font-size: 1rem;

}

.tile-btn{
    font-size: 1.2rem;
    border-radius: 12px;
}


.review-container {
    display: flex;
    justify-content: center;
}

