html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.alpha-form {

    background-color: #04364A;
    border-radius: 20px;
    padding: 30px;
    color: white;
    font-weight: 500;
}

.form-btn {
    width: 100%;
}

#nav-custom {
    background-color: #04364A;
    /*display: none;*/
}

.cu-bg {
    background-image: url("../resources/images/CUPicture.jpg");
    /* background-color: #A7D7C5;*/
    width: 100wh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loc-bg {
    background-image: url("../resources/images/BlueUS.jpg");
    /* background-color: #A7D7C5;*/
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loc-form {
    position: fixed;
    left: 0;
    top: 15%;
    height: 500px;
    background-color: #04364A;
    margin-left: 10%;
    width: 600px;
    border-radius: 40px;
    padding: 20px;
    color: white;
    font-weight: 500;
}

.geo-box {
    position: fixed;
    right: 0;
    top: 15%;
    height: 500px;
    width: 800px;
    background-color: cadetblue;
    margin-right: 10%;
    border-radius: 10px;
    border-color: #04364A;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    border: 2px solid #04364A;
}
